* 
{
	margin: 0px;
	padding: 0px;
}

html 
{
	background-color: #212121;
	color: white;
	font-family: 'Courier New', Monospace;
	font-size: 1.5vw;
}

#banner
{
	margin-top: 2%;
	margin-left: 2%;
}

#navbar
{
	margin-left: 2%;
}

#navbar ul 
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#navbar li
{
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 2%;
}

#navbar a
{
	text-decoration: none;
	color: white;

}

#mainWrapper
{
	margin-left: 2%;
	margin-top: 2%;
	width: 100%;
}

#whoamiWrapper
{
	display: flex;
}

.whoamiContent
{
	min-width: fit-content;
	margin-right: 1%;
}

#whoamiImage
{
	min-width: fit-content;
	margin-right: auto;
}
