* 
{
	margin: 0px;
	padding: 0px;
}

html 
{
	background-color: #212121;
	color: white;
	font-family: 'Courier New', Monospace;
	font-size: 1.5vw;
}

#banner
{
	margin-top: 2%;
	margin-left: 2%;
}

#navbar
{
	margin-left: 2%;
}

#navbar ul 
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#navbar li
{
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 2%;
}

#navbar a
{
	text-decoration: none;
	color: white;

}

#navbar a:hover
{
	color: grey;
}

#mainWrapper
{
	display: flex;
	flex-direction: row;
}



#whoamiWrapper
{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 50%;
}

.terminal
{
	background-color: black;
	border: white 1px solid;
	padding: 10px;
}

.terminal h2, p
{
	margin: 1%;
}

#sideWrapper
{
	display: flex;
	flex-direction: column;
	margin-left: 1%;
	margin-right: auto;
	width: 45%;
}



#sideRow
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-top: 2%;
}

#sideRow img
{
	width: 10vw;
}

#json-content a
{
	color: white;
	text-decoration: none;
}

#json-content a:hover
{
	color: grey;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  #mainWrapper {
    flex-direction: column;
  }
  #whoamiWrapper
  {
	  width: 93%;
	  margin-bottom: 2%;
	  margin-left: 2%;
  } 
  #sideRow img
  {
	  width: 0px;
	  margin: 0px;
	  padding: 0px;
	  border: none;
  }
  #sideWrapper
  {
	  flex-direction: row;
	  width: 93%;
	  margin-left: 2%;
  }
  #aboutme
  {
	  padding-top: 0px;
	  margin-right: 5%;
  }
}
